<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Location</title>
    <style>
        form {
            border: 1px solid gray;
            padding: 10px;
        }

    </style>
</head>

<body>
    <form action="" method="post">
        <label for="">Current Location: <input type="text" name="current_loco"></label>
        <button>Check nearby MBTA Stops</button>
    </form>
</body>

</html>